.cart-form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 16px 0 24px 0;
}

.cart-form__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.cart-form__line {
    display: flex;
    max-width: 700px;
    gap: 24px;
}

.cart-form__line:not(:last-child) {
    margin-bottom: 37px;
}

.cart-form__input-form {
    position: relative;
    flex: 1 0 0;
}

.cart-form__input-form > label {
    display: block;
    width: 100%;
}

.cart-form__input {
    width: 100%;
    height: 24px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: none;
}

.cart-form__input_error {
    color: #f55123;
    border-bottom: 1px solid #f55123;
}

.cart-form__input:focus {
    outline: 0;
}

.cart-form__input:focus + .cart-form__placeholder {
    top: -18px;
    font-size: 13px;
    line-height: 16px;
}

.cart-form__input:not(:placeholder-shown):not(:focus) + .cart-form__placeholder {
    top: -15px;
    font-size: 13px;
    line-height: 16px;
}

.cart-form__input:placeholder-shown:not(:focus) + .cart-form__placeholder {
    top: 0;
    font-size: 16px;
    line-height: 24px;
}

.cart-form__error {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.cart-form__error_active {
    color: #f55123;
}

.cart-form__placeholder {
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    top: 0;
    color: #9797af;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}