.dialog {
    flex-direction: column;
    padding: 16px 22px 24px 22px;
    border: 0;
    width: 500px;
    min-height: 408px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.dialog__content {
    min-height: 408px;
    display: flex;
    flex-direction: column;
}

.dialog__button {
    cursor: pointer;
    height: 44px;
    padding: 0 32px 5px 32px;
    background-color: #cb11ab;
    border-radius: 8px;
    border: 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    max-width: 164px;
}

.dialog__title {
    padding: 0 2px 13px 2px;
    display: flex;
}

.dialog__title-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    flex: 1 0 0;
}

.dialog__close-image {
    width: 24px;
    height: 24px;
}

.dialog__close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
}

.delivery__selectors {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.delivery-dialog__form {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.delivery__selector-button {
    flex: 1 0 0;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background: none;
    padding: 9px 61px;
    white-space: nowrap;

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.delivery__selector-button_active {
    border: 2px solid #cb11ab;
}

.delivery-dialog__addresses-title {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.delivery-dialog__address {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delivery-dialog__address-text {
    flex: 1 0 0;
}

.round {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00000033;
    border-radius: 50%;
}

.round:checked {
    position: relative;
    background-color: #cb11ab;
    border: 0;
}
.round:checked:before {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 7px;
    height: 7px;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    background-color: white;
}

.delivery-dialog__address-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.courier-form {
    display: none;
}

.shipment-form {
    display: flex;
}

.shipment-rating {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.delivery-dialog__shipment-address {
    flex: 1 0 0;
}

.shipment-rating-text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.shipment-image {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.shipment-rating-value {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 8px;
}

.payment__methods {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
    flex: 1 0 0;
}

.payment-method-image {
    width: 30px;
}